In [2]:
import pandas as pd

In [3]:
team_data_to_load = "Resources/archive/Team Totals.csv"
player_data_to_load = "Resources/archive/Player Totals.csv"
team_totals_df = pd.read_csv(team_data_to_load)
player_totals_df = pd.read_csv(player_data_to_load)
team_totals_df

,season,lg,team,abbreviation,playoffs,g,mp,fg,fga,fg_percent,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,2022,NBA,Atlanta Hawks,ATL,False,50.0,12000.0,2036.0,4365.0,0.466,...,0.800,485.0,1735.0,2220.0,1211.0,337.0,221.0,616.0,914.0,5575.0
1,2022,NBA,Boston Celtics,BOS,False,52.0,12680.0,2043.0,4553.0,0.449,...,0.816,559.0,1845.0,2404.0,1199.0,378.0,304.0,730.0,976.0,5615.0
2,2022,NBA,Brooklyn Nets,BRK,False,49.0,11810.0,2043.0,4333.0,0.471,...,0.822,492.0,1736.0,2228.0,1246.0,341.0,269.0,695.0,975.0,5481.0
3,2022,NBA,Chicago Bulls,CHI,False,49.0,11760.0,2028.0,4258.0,0.476,...,0.811,433.0,1664.0,2097.0,1191.0,363.0,223.0,645.0,924.0,5439.0
4,2022,NBA,Charlotte Hornets,CHO,False,51.0,12340.0,2168.0,4695.0,0.462,...,0.735,538.0,1719.0,2257.0,1386.0,441.0,255.0,662.0,994.0,5839.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1778,1947,BAA,Providence Steamrollers,PRO,False,60.0,NaN,1629.0,5582.0,0.292,...,0.655,NaN,NaN,NaN,481.0,NaN,NaN,NaN,1215.0,4350.0
1779,1947,BAA,St. Louis Bombers,STB,True,61.0,NaN,1601.0,5877.0,0.272,...,0.616,NaN,NaN,NaN,292.0,NaN,NaN,NaN,1234.0,4064.0
1780,1947,BAA,Toronto Huskies,TRH,False,60.0,NaN,1515.0,5672.0,0.267,...,0.622,NaN,NaN,NaN,463.0,NaN,NaN,NaN,1271.0,3996.0
1781,1947,BAA,Washington Capitols,WSC,True,60.0,NaN,1723.0,5794.0,0.297,...,0.706,NaN,NaN,NaN,378.0,NaN,NaN,NaN,1144.0,4428.0
1782,1947,BAA,League Average,NaN,False,60.0,NaN,1561.0,5592.0,0.279,...,0.641,NaN,NaN,NaN,415.0,NaN,NaN,NaN,1254.0,4078.0

In [4]:
team_count = len(team_totals_df["team"].unique())
team_count

97

In [5]:
# We can change "season" to a date type
team_totals_df.dtypes

season            int64
lg               object
team             object
abbreviation     object
playoffs           bool
g               float64
mp              float64
fg              float64
fga             float64
fg_percent      float64
x3p             float64
x3pa            float64
x3p_percent     float64
x2p             float64
x2pa            float64
x2p_percent     float64
ft              float64
fta             float64
ft_percent      float64
orb             float64
drb             float64
trb             float64
ast             float64
stl             float64
blk             float64
tov             float64
pf              float64
pts             float64
dtype: object

In [6]:
team_totals_df.count()

season          1783
lg              1783
team            1783
abbreviation    1698
playoffs        1783
g               1782
mp              1593
fg              1782
fga             1782
fg_percent      1782
x3p             1340
x3pa            1340
x3p_percent     1340
x2p             1782
x2pa            1782
x2p_percent     1782
ft              1782
fta             1782
ft_percent      1782
orb             1453
drb             1453
trb             1730
ast             1782
stl             1394
blk             1394
tov             1465
pf              1782
pts             1782
dtype: int64

In [7]:
team_totals_df.isnull().sum()

season            0
lg                0
team              0
abbreviation     85
playoffs          0
g                 1
mp              190
fg                1
fga               1
fg_percent        1
x3p             443
x3pa            443
x3p_percent     443
x2p               1
x2pa              1
x2p_percent       1
ft                1
fta               1
ft_percent        1
orb             330
drb             330
trb              53
ast               1
stl             389
blk             389
tov             318
pf                1
pts               1
dtype: int64

In [8]:
team_names = team_totals_df["team"].tolist()
team_abrev_names = team_totals_df["abbreviation"].tolist()
set(team_names)

{'Anaheim Amigos',
 'Anderson Packers',
 'Atlanta Hawks',
 'Baltimore Bullets',
 'Boston Celtics',
 'Brooklyn Nets',
 'Buffalo Braves',
 'Capital Bullets',
 'Carolina Cougars',
 'Charlotte Bobcats',
 'Charlotte Hornets',
 'Chicago Bulls',
 'Chicago Packers',
 'Chicago Stags',
 'Chicago Zephyrs',
 'Cincinnati Royals',
 'Cleveland Cavaliers',
 'Cleveland Rebels',
 'Dallas Chaparrals',
 'Dallas Mavericks',
 'Denver Nuggets',
 'Denver Rockets',
 'Detroit Falcons',
 'Detroit Pistons',
 'Fort Wayne Pistons',
 'Golden State Warriors',
 'Houston Mavericks',
 'Houston Rockets',
 'Indiana Pacers',
 'Indianapolis Jets',
 'Indianapolis Olympians',
 'Kansas City Kings',
 'Kansas City-Omaha Kings',
 'Kentucky Colonels',
 'League Average',
 'Los Angeles Clippers',
 'Los Angeles Lakers',
 'Los Angeles Stars',
 'Memphis Grizzlies',
 'Memphis Pros',
 'Memphis Sounds',
 'Memphis Tams',
 'Miami Floridians',
 'Miami Heat',
 'Milwaukee Bucks',
 'Milwaukee Hawks',
 'Minneapolis Lakers',
 'Minnesota Muskies',
 'Minnesota Pipers',
 'Minnesota Timberwolves',
 'New Jersey Americans',
 'New Jersey Nets',
 'New Orleans Buccaneers',
 'New Orleans Hornets',
 'New Orleans Jazz',
 'New Orleans Pelicans',
 'New Orleans/Oklahoma City Hornets',
 'New York Knicks',
 'New York Nets',
 'Oakland Oaks',
 'Oklahoma City Thunder',
 'Orlando Magic',
 'Philadelphia 76ers',
 'Philadelphia Warriors',
 'Phoenix Suns',
 'Pittsburgh Condors',
 'Pittsburgh Ironmen',
 'Pittsburgh Pipers',
 'Portland Trail Blazers',
 'Providence Steamrollers',
 'Rochester Royals',
 'Sacramento Kings',
 'San Antonio Spurs',
 'San Diego Clippers',
 'San Diego Conquistadors',
 'San Diego Rockets',
 'San Diego Sails',
 'San Francisco Warriors',
 'Seattle SuperSonics',
 'Sheboygan Red Skins',
 'Spirits of St. Louis',
 'St. Louis Bombers',
 'St. Louis Hawks',
 'Syracuse Nationals',
 'Texas Chaparrals',
 'The Floridians',
 'Toronto Huskies',
 'Toronto Raptors',
 'Tri-Cities Blackhawks',
 'Utah Jazz',
 'Utah Stars',
 'Vancouver Grizzlies',
 'Virginia Squires',
 'Washington Bullets',
 'Washington Capitols',
 'Washington Wizards',
 'Waterloo Hawks'}

In [9]:
player_totals_df

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,29648,2022,4219,Aaron Gordon,NaN,PF,26.0,8,NBA,DEN,...,0.741,76.0,180.0,256.0,114.0,31.0,27.0,82.0,86.0,676.0
1,29649,2022,4899,Aaron Henry,NaN,SF,22.0,1,NBA,PHI,...,NaN,0.0,1.0,1.0,0.0,0.0,2.0,2.0,2.0,2.0
2,29650,2022,4582,Aaron Holiday,NaN,PG,25.0,4,NBA,WAS,...,0.815,7.0,53.0,60.0,68.0,19.0,8.0,33.0,55.0,221.0
3,29651,2022,4805,Aaron Nesmith,NaN,SF,22.0,2,NBA,BOS,...,0.813,9.0,51.0,60.0,12.0,12.0,2.0,20.0,45.0,118.0
4,29652,2022,4900,Aaron Wiggins,NaN,SG,23.0,1,NBA,OKC,...,0.689,27.0,78.0,105.0,32.0,23.0,6.0,26.0,56.0,221.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30291,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,0.500,NaN,NaN,NaN,6.0,NaN,NaN,NaN,16.0,23.0
30292,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,0.511,NaN,NaN,NaN,16.0,NaN,NaN,NaN,59.0,85.0
30293,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,0.534,NaN,NaN,NaN,37.0,NaN,NaN,NaN,114.0,253.0
30294,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,0.477,NaN,NaN,NaN,1.0,NaN,NaN,NaN,25.0,61.0
30295,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,0.581,NaN,NaN,NaN,47.0,NaN,NaN,NaN,105.0,350.0

In [10]:
player_totals_df.dtypes

seas_id           int64
season            int64
player_id         int64
player           object
birth_year      float64
pos              object
age             float64
experience        int64
lg               object
tm               object
g               float64
gs              float64
mp              float64
fg              float64
fga             float64
fg_percent      float64
x3p             float64
x3pa            float64
x3p_percent     float64
x2p             float64
x2pa            float64
x2p_percent     float64
e_fg_percent    float64
ft              float64
fta             float64
ft_percent      float64
orb             float64
drb             float64
trb             float64
ast             float64
stl             float64
blk             float64
tov             float64
pf              float64
pts             float64
dtype: object

In [11]:
player_totals_df.isnull().sum()

seas_id             0
season              0
player_id           0
player              0
birth_year      27429
pos                 0
age                24
experience          0
lg                  0
tm                  0
g                  29
gs               8641
mp               1134
fg                 45
fga                47
fg_percent        190
x3p              6354
x3pa             6354
x3p_percent     10451
x2p                45
x2pa               47
x2p_percent       264
e_fg_percent      190
ft                 45
fta                45
ft_percent       1236
orb              4659
drb              4659
trb               963
ast                47
stl              5638
blk              5637
tov              5637
pf                 45
pts                45
dtype: int64

In [12]:
team_totals_df.count()

season          1783
lg              1783
team            1783
abbreviation    1698
playoffs        1783
g               1782
mp              1593
fg              1782
fga             1782
fg_percent      1782
x3p             1340
x3pa            1340
x3p_percent     1340
x2p             1782
x2pa            1782
x2p_percent     1782
ft              1782
fta             1782
ft_percent      1782
orb             1453
drb             1453
trb             1730
ast             1782
stl             1394
blk             1394
tov             1465
pf              1782
pts             1782
dtype: int64

In [13]:
player_totals_df.count()

seas_id         30296
season          30296
player_id       30296
player          30296
birth_year       2867
pos             30296
age             30272
experience      30296
lg              30296
tm              30296
g               30267
gs              21655
mp              29162
fg              30251
fga             30249
fg_percent      30106
x3p             23942
x3pa            23942
x3p_percent     19845
x2p             30251
x2pa            30249
x2p_percent     30032
e_fg_percent    30106
ft              30251
fta             30251
ft_percent      29060
orb             25637
drb             25637
trb             29333
ast             30249
stl             24658
blk             24659
tov             24659
pf              30251
pts             30251
dtype: int64

In [14]:
player_totals_df.dtypes

seas_id           int64
season            int64
player_id         int64
player           object
birth_year      float64
pos              object
age             float64
experience        int64
lg               object
tm               object
g               float64
gs              float64
mp              float64
fg              float64
fga             float64
fg_percent      float64
x3p             float64
x3pa            float64
x3p_percent     float64
x2p             float64
x2pa            float64
x2p_percent     float64
e_fg_percent    float64
ft              float64
fta             float64
ft_percent      float64
orb             float64
drb             float64
trb             float64
ast             float64
stl             float64
blk             float64
tov             float64
pf              float64
pts             float64
dtype: object